.title-skil
  Menu.
.skil-area
  .skil-area__home
    = link_to 'ポートフォリオ', "#", class: 'home-name'
  .skil-area__member
    .skil-area__member__up
      .skil-area__member__up__first
        = link_to 'HTML/CSS', "#", class: 'member-name'
        -# = image_tag 'mac.jpg', class: 'member-pictuer'
      .skil-area__member__up__second
        = link_to 'Ruby on Rails', "#", class: 'member-name'
        -# = image_tag 'woman-and-robot.jpg', class: 'member-pictuer'
    .skil-area__member__down
      .skil-area__member__down__first
        = link_to 'Javascript', "#", class: 'member-name'
        -# = image_tag 'berry.png', class: 'member-pictuer'
      .skil-area__member__down__second
        = link_to 'データベース設計', "#", class: 'member-name'
        -# = image_tag 'person-to-analyze.jpg', class: 'member-pictuer'

